# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: akshaygadekar
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: cognito
# "service" is the name of this project. This will also be added to your AWS resource names.
service: cognito

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-south-1
  httpApi:
    cors: true
  environment:
    REGION: 'ap-south-1'
    COGNITO_USER_POOL_ID: !Ref CognitoUserPool
    COGNITO_CLIENT_ID: !Ref CognitoUserPoolClient
    S3_BUCKET_NAME: !Ref ProfilePicturesBucket
  iamRoleStatements:
    - Effect: Allow # to upload profile pictures to S3
      Action:
        - s3:PutObject
        - s3:GetObject
      Resource:
        - !Sub arn:aws:s3:::${ProfilePicturesBucket}/*
    - Effect: Allow # to confirm account, update user attributes, and describe user pool
      Action:
        - cognito-idp:AdminConfirmSignUp
        - cognito-idp:AdminUpdateUserAttributes
        - cognito-idp:DescribeUserPool
      Resource:
        - !Sub arn:aws:cognito-idp:${self:provider.region}:${AWS::AccountId}:userpool/${CognitoUserPool}

resources:
  Resources:
    CognitoUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: myUserPool # name of the user pool
        AutoVerifiedAttributes: # automatically verifies email addresses, if you have a custom email verification service, you can remove this
          - email
        Schema: # attributes of the user
          - Name: name
            AttributeDataType: String
            Required: true
            Mutable: true
          - Name: email
            AttributeDataType: String
            Required: true
            Mutable: true
          - Name: phone_number
            AttributeDataType: String
            Required: false
            Mutable: true
          - Name: gender
            AttributeDataType: String
            Required: false
            Mutable: true
          - Name: updated_at
            AttributeDataType: Number
            Required: false
            Mutable: true
          - Name: zoneinfo
            AttributeDataType: String
            Required: false
            Mutable: true
          - Name: birthdate
            AttributeDataType: String
            Required: false
            Mutable: true
          - Name: picture
            AttributeDataType: String
            Required: false
            Mutable: true
        Policies:
          PasswordPolicy: # password policy for the user pool
            MinimumLength: 8
            RequireUppercase: true
            RequireLowercase: true
            RequireNumbers: true
            RequireSymbols: true
    CognitoUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: myUserPoolClient # name of the user pool client
        UserPoolId:
          Ref: CognitoUserPool
        GenerateSecret: false
        ExplicitAuthFlows:
          - ALLOW_USER_PASSWORD_AUTH
          - ALLOW_USER_SRP_AUTH
          - ALLOW_REFRESH_TOKEN_AUTH
        RefreshTokenValidity: 30 # validity of the refresh token in days
        AccessTokenValidity: 24 # validity of the access token in hours
        IdTokenValidity: 24 # validity of the id token in hours
        TokenValidityUnits:
          RefreshToken: days # validity units of the refresh token
          AccessToken: hours # validity units of the access token
          IdToken: hours # validity units of the id token
        SupportedIdentityProviders:
          - COGNITO
        PreventUserExistenceErrors: ENABLED # prevents user existence errors
    ProfilePicturesBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: profile-pictures-bucket-${self:provider.region} # name of the bucket
        PublicAccessBlockConfiguration:
          BlockPublicAcls: true
          BlockPublicPolicy: true
          IgnorePublicAcls: true
          RestrictPublicBuckets: true
        VersioningConfiguration:
          Status: Enabled
        LifecycleConfiguration:
          Rules:
            - Id: DeleteIncompleteMultipartUploads
              Status: Enabled
              AbortIncompleteMultipartUpload:
                DaysAfterInitiation: 1 # days after initiation to delete incomplete multipart uploads
            - Id: DeleteOldVersions
              Status: Enabled
              NoncurrentVersionExpirationInDays: 30 # days after noncurrent version to delete old versions



# API Gateway endpoints
functions:
  signUp:
    handler: src/signUp.signUp
    events:
      - httpApi:
          path: /signup
          method: post
  confirmAccountByCode:
    handler: src/signUp.confirmAccountByCode
    events:
      - httpApi:
          path: /confirm-account-by-code
          method: post
  confirmAccountManually:
    handler: src/signUp.confirmAccountManually
    events:
      - httpApi:
          path: /confirm-account-manually
          method: post
  signIn:
    handler: src/signIn.signIn
    events:
      - httpApi:
          path: /signin
          method: post
  signOut:
    handler: src/signOut.signOut
    events:
      - httpApi:
          path: /signout
          method: get
  forgotPassword:
    handler: src/forgotPassword.forgotPassword
    events:
      - httpApi:
          path: /forgot-password
          method: post
  confirmForgotPassword:
    handler: src/forgotPassword.confirmForgotPassword
    events:
      - httpApi:
          path: /confirm-forgot-password
          method: post
  changePassword:
    handler: src/forgotPassword.changePassword
    events:
      - httpApi:
          path: /change-password
          method: post
  userInfo:
    handler: src/userInfo.userInfo
    events:
      - httpApi:
          path: /user-info
          method: get
  updateUser:
    handler: src/userInfo.updateUser
    events:
      - httpApi:
          path: /update-user
          method: patch
  generatePresignedUrl:
    handler: src/userInfo.generatePresignedUrl
    events:
      - httpApi:
          path: /generate-presigned-url
          method: post
  getPresignedPictureUrl:
    handler: src/userInfo.getPresignedPictureUrl
    events:
      - httpApi:
          path: /get-presigned-picture-url
          method: post
  deleteUser:
    handler: src/userInfo.deleteUser
    events:
      - httpApi:
          path: /delete-user
          method: delete
  
